/* prefers-reduced-motion  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

main {
    height: 100%;
    padding: 5%;
    overflow: hidden;
}

.perspective-container {
    overflow: hidden;
    /* so we dont get any undesired scrolling in the browser window */
}

.grid {
    background-size: 5% 5%;
    background-image: linear-gradient(to right, rgb(165, 245, 165) 3px, transparent 3px), linear-gradient(to bottom, rgb(165, 245, 165) 3px, transparent 3px);
    width: 30vw;
    height: 50vh;
    position: absolute;
    box-shadow: 0 0 10px #f292ff;
    border: 3px solid #fff;
    border-radius: 50%;
    /* border-radius: 80%; */
}

.grid-back {
    height: 20vh;
    width: 20vw;
    margin: auto;
    position: fixed;
    /* top: 0; */
    /* transform: perspective(5) rotateX(10deg) skew(30deg); */
}

.grid-top {
    transform: perspective(200px) rotateX(30deg) skew(20deg);
    top: 10%;
}

.grid-bottom {
    transform: perspective(200px) rotateY(30deg);
    bottom: 12%;
}

.grid-left {
    transform: perspective(200px) rotateY(30deg);
    left: 12%;
}

#grid-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.grid-right {
    transform: perspective(200px) rotateY(30deg);
    right: 4%;
}